* {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    height: 100%;
}

#black {
    background-color: rgba(26, 25, 25, 0);
    height: 20px;
}

#home {
    position: relative;
    top: 2px;
    padding: 0px;
    display: inline-flex;
    font-family: cursive;
    line-height: 70px;
    padding: 0px 20px;
    background-image: url(headimg1.jpg);
    background-size: 1300px 550px;
    background-repeat: no-repeat;
    height: 1300px;
    width: 100%;
    animation: heads 12s linear infinite;
    animation-play-state: running;
}

@keyframes heads {
    0% {
        background-image: url(headimg1.jpg);
        background-size: 1300px 550px;
        background-repeat: no-repeat;
    }

    20% {
        background-image: url(headimg2.jpg);
        background-size: 1300px 550px;
        background-repeat: no-repeat;
    }

    40% {
        background-image: url(headimg3.jpg);
        background-size: 1300px 550px;
        background-repeat: no-repeat;
    }

    70% {
        background-image: url(headimg4.jpg);
        background-size: 1300px 550px;
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(headimg1.jpg);
        background-size: 1300px 550px;
        background-repeat: no-repeat;
    }
}

.line {
    background-color: red;
    height: 2px;
    animation: uline 2s ease-in-out .1s 1;
    position: fixed;
    top: 0px;
}

@keyframes uline {
    0% {
        width: 0%;
        opacity: 2;
    }

    50% {
        width: 60%;
        opacity: 2;
    }

    100% {
        width: 100%;
        opacity: 2;
    }
}

#welcome {
    position: relative;
    top: 5px;
    left: 10rem;
    padding: 8px 2px;
    cursor: context-menu;
    font-weight: bolder;
    animation: font-color 12s linear infinite;
    animation-play-state: running;
}

@keyframes font-color {
    0% {
        color: darkslategray;
    }

    20% {
        color: darkslategray;
    }

    40% {
        color: darkslategray;
    }

    73% {
        color: white;
    }

    100% {
        color: darkslategray;
    }
}

.container {
    position: relative;
    top: 22x;
    left: 8rem;
}

a {
    text-decoration: none;
}

#imglogo img {
    position: relative;
    top: 0px;
    border-radius: 10px;
}

#imglogo {
    position: absolute;
    left: 5px;
    top: 10px;
    border-radius: 10px;
    transition-property: box-shodow;
    height: 65px;
}

#imglogo:hover {
    box-shadow: .1px .1px 5px 5px yellow;
}

li {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    list-style-type: none;
    position: relative;
    right: -80%;
    padding: 8px 50px;
    position: relative;
    top: -90px;
    text-decoration: none;
    transition: all 1s;
    color: black;
    animation: font-color 12s linear infinite;
    animation-play-state: running;
    font-weight: bold;
    z-index: 10px;
}

li:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.696);
    height: 65px;
    line-height: 50px;
    border-radius: 10px;
    color: black;
    box-shadow: .1px .1px 5px 5px rgb(31, 202, 102);
}

@keyframes font-color {
    0% {
        color: darkslategray;
    }

    20% {
        color: darkslategray;
    }

    40% {
        color: darkslategray;
    }

    73% {
        color: white;
    }

    100% {
        color: darkslategray;
    }
}

@media screen and (max-width:650px) {
    #home {
        position: relative;
        top: 2px;
        padding: 0px;
        /* display: inline-flex; */
        font-family: cursive;
        line-height: 70px;
        padding: 0px 20px;
        background-image: url(headimg1.jpg);
        background-size: 650px 600px;
        background-repeat: no-repeat;
        height: 1300px;
        width: 650px;
        animation: heads 10s linear infinite;
        animation-play-state: running;
    }

    @keyframes heads {
        0% {
            background-image: url(headimg1.jpg);
            background-size: 650px 500px;
            background-repeat: no-repeat;
        }

        20% {
            background-image: url(headimg2.jpg);
            background-size: 650px 500px;
            background-repeat: no-repeat;
        }

        40% {
            background-image: url(headimg3.jpg);
            background-size: 650px 500px;
            background-repeat: no-repeat;
        }

        70% {
            background-image: url(headimg4.jpg);
            background-size: 650px 500px;
            background-repeat: no-repeat;
        }

        100% {
            background-image: url(headimg1.jpg);
            background-size: 650px 500px;
            background-repeat: no-repeat;
        }
    }
}

#burger h1 {
    position: absolute;
    top: 540px;
    left: 550px;
    color: brown;
}

#burger {
    position: relative;
    top: -1250px;
}

#burger1 img {
    position: absolute;
    top: 580px;
    left: -70px;
    transition: all 1s;
}

#burger1 img:hover {
    transform: translateY(30px);
}

#burger2 img {
    position: absolute;
    top: 650px;
    left: 680px;
    transition: all 1s
}

#burger2 img:hover {
    transform: translateY(30px);
}

#pa h1 {
    position: absolute;
    left: 800px;
    top: 1180px;
    color: brown;
    font-family: sans-serif;
}

.h2 {
    position: absolute;
    top: 980px;
    left: 190px;
    color: darkolivegreen;
}

.h21 {
    position: absolute;
    top: 980px;
    right: 240px;
    color: darkolivegreen;
}

#pa p {
    position: absolute;
    left: 500px;
    top: 1370px;
    padding: 10px 50px;
    font-family: cursive;
    cursor: copy;
}

.images {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}

#about img {
    position: absolute;
    left: 10px;
    top: 1170px;
    float: left;
    padding: 10px;
    height: 500px;
    width: 500px;
    animation: img1 3s ease-in-out .0s 1;
    transition-property: background-color, cursocolor
}

@keyframes img1 {
    from {
        height: 10px;
    }

    to {
        height: 500px;
    }
}

#about img:hover {
    background-color: rgb(250, 231, 125);
    border-radius: 10px;
    cursor: pointer;
}

#img2 img {
    position: relative;
    left: 700px;
    top: 400px;
    padding: 10px;
    height: 500px;
    width: 500px;
    transition-property: background-color, cursor;
}

#img2 img:hover {
    background-color: rgb(250, 231, 125);
    border-radius: 10px;
    cursor: pointer;
}


#img3 img {
    position: relative;
    left: 60px;
    top: 220px;
    padding: 10px;
    height: 450px;
    width: 500px;
    transition-property: background-color, cursor;
}

#img3 img:hover {
    background-color: rgb(250, 231, 125);
    border-radius: 10px;
    cursor: pointer;

}

#pa1 p {
    position: relative;
    left: -280px;
    top: 120px;
    float: left;
    padding: 10px 350px;
    font-family: cursive;
}

#pa1 h1 {
    position: absolute;
    left: 220px;
    top: 1800px;
    color: brown;
    font-family: sans-serif;

}

#pa2 p {
    position: absolute;
    left: 600px;
    top: 2600px;
    float: left;
    padding: 10px 50px;
    font-family: cursive;
}

#pa2 h1 {
    position: absolute;
    left: 800px;
    top: 2380px;
    color: brown;
    font-family: sans-serif;
}

#review1 h1 {
    position: absolute;
    left: 500px;
    top: 2750px;
}

#review1 img {
    position: relative;
    left: 5pc;
    top: 450px;
    padding: 0px 50px;
    transition: all 1.5s;
    border-width: 200px;
}

#review1 img:hover {
    transform: scale(1.1);
    box-shadow: .1px .1px 9px 5px rgb(216, 210, 25);
    border: 1mm dashed rgba(10, 198, 101, 0.841);
}

#pa3 h1 {
    position: absolute;
    left: 600px;
    top: 2930px;
    color: brown;
    font-family: sans-serif;
}

#pa3 p {
    position: relative;
    top: 500px;
    padding: 12px 20px;
    font-family: cursive;
}

#contact1 #contact {
    position: relative;
    top: 595px;
    text-align: center;
    color: brown;
    font-family: sans-serif;

}

#contact1 img {
    position: relative;
    top: 700px;
    left: 80px;
    bottom: 300px;
    width: 1100px;
    height: 500px;
    cursor: pointer;
}